.custom-table {
  width: 100%;
  padding: 20px;

  tr {
    &.detail-row {
      height: 0;
    }

    &.element-row {
      cursor: pointer;

      &:not(.expanded-row) {
        &:hover {
          background: whitesmoke;
        }

        &:active {
          background: #efefef;
        }
      }

      td {
        border-bottom-width: 0;
      }
    }
  }
}
.element-row {
  td {
    border-bottom-width: 0;
  }
}
.element-detail-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  grid-template-columns: 100%;
  transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.element-detail-wrapper-expanded {
  grid-template-rows: 1fr;
}
.element-detail {
  display: flex;
  min-height: 0;
}
.element-diagram {
  min-width: 80px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}
.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}
.element-description {
  padding: 16px;
}
.element-description-attribution {
  opacity: 0.5;
}
.toggle-button {
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.toggle-button-expanded {
  transform: rotate(180deg);
}

.topbar-filters {
  padding: 20px;
}

.select-filter {
  margin-left: 20px;
}

.info-row {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.element-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}
